html {
	background-image: url("htmlBG.jpg");
	background-size: 100%;
}

div.img {
    margin: 10px;
    border: 6px solid #000000;
    float: left;
    width: 280px;
}

div.img:hover {
    border: 6px solid #000000;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    background-color: #d9d9d9;
    padding: 15px;
    text-align: center;
}

.bnw {
    width: 100%;
}

.contact {
    color:  #d98c8c;
}

.about_me {
        color:#d98c8c;
	font-family: 'Electrolize', sans-serif;
	font-size: 20px;
	text-shadow: 1px 1px 0 #4d1919;
}

.disclaimer {
	color: #d98c8c;
    text-align: center;
}

.quote {
   text-align: center;
}

.logo {
	text-align: center;
	text-align: -webkit-center;
	}

.top {
   padding: 1px;
   border: 4px solid black;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}


@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}


@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

h1 {
	color:  #d98c8c;
	font-family: 'Righteous', cursive;
	font-size: 70px;
	letter-spacing: 20px;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 5px 0 0 #4d1919;
}
h2 {
	color: #d98c8c;
	font-family: 'Electrolize', sans-serif;
	font-size: 20px;
	text-shadow: 1px 1px 0 #f2d9d9;
}
nav {
	background-color: #867979;
	font-family: 'Righteous', cursive;
	display: inline-block;
	margin: 0 0 0 1000px;
	padding: 10px 5px 10px 5px;
	text-align: center;
}
nav a {
	background-color: #936c6c;
	color: white;
        font-family: 'Righteous', cursive;
	padding: 6px 6px;
        text-decoration: none;
	font-size: 25px;
	width: 360px;
}

nav a:hover {
    background-color: #ac5353;
    color: #330000;
    font-family: 'Righteous', cursive;
}


footer {
        color:  #d98c8c;
	font-family: 'Electrolize', sans-serif;
	margin-left: 1410px;
	text-align: center;
	letter-spacing: 4px;
	text-shadow: 1px 0 0 #f2d9d9;
}
