html {
	background-color: black;
	}

div.img {
    margin: 10px;
    border: 6px solid #000000;
    float: left;
    width: 280px;
}

div.img:hover {
    border: 6px solid #000000;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    background-color: #d9d9d9;
    padding: 15px;
    text-align: center;
}

.contact {
    color:  #d98c8c;
}

.about_me {
        color:#d98c8c;
	font-family: 'Electrolize', sans-serif;
	font-size: 20px;
	text-shadow: 1px 1px 0 #4d1919;
}

.disclaimer {
	color: #d98c8c;
    text-align: center;
}

.bnw {
	border: solid 3px #800000;
	float: right;
	width: 100%;
}

#quote {
	float: left;
	border: solid 3px #800000;
	margin-left: 70px;
	margin-top: 15px
}

.quote {
	text-align: center;
}


.logo {
display: block;
margin-left: auto;
margin-right: auto;
	}

.top {
   padding: 1px;
   border: 4px solid black;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}


@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}


@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

h1 {
	color:  #800000;
	font-family: 'Righteous', cursive;
	font-size: 60px;
	letter-spacing: 15px;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 3px -1px 1px #d98c8c;
}
h2 {
	color: #d98c8c;
	font-family: 'Electrolize', sans-serif;
	font-size: 16px;
	text-shadow: 1px 1px 0 #f2d9d9;
}
nav {
	float: right;
	border: solid 3px #800000;
	background-color: #867979;
	font-family: 'Righteous', cursive;
	display: inline-block;
	padding: 4px 0px 4px 0px;
	text-align: center;
	width: 360px;
	margin-bottom: 10px;
}

nav a {
	background-color: #936c6c;
	color: white;
        font-family: 'Righteous', cursive;
	padding: 2px 2px;
        text-decoration: none;
	font-size: 12px;
}

nav a:hover {
    background-color: #ac5353;
    color: #330000;
    font-family: 'Righteous', cursive;
}


.copyright {
	float: right;
	width: 300px;
	margin-right: 100px;
	}

footer {
    color:  #800000;
	font-family: 'Electrolize', sans-serif;
	text-align: center;
	letter-spacing: 1px;
	text-shadow: 1px 0 0;
	}
