html {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0d0d0d+0,959595+14,959595+29,4e4e4e+35,4e4e4e+35,010101+49,959595+66,959595+74,959595+82,010101+97,0a0a0a+97,0a0a0a+97,010101+97 */
background: rgb(13,13,13); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(13,13,13,1) 0%, rgba(149,149,149,1) 14%, rgba(149,149,149,1) 29%, rgba(78,78,78,1) 35%, rgba(78,78,78,1) 35%, rgba(1,1,1,1) 49%, rgba(149,149,149,1) 66%, rgba(149,149,149,1) 74%, rgba(149,149,149,1) 82%, rgba(1,1,1,1) 97%, rgba(10,10,10,1) 97%, rgba(10,10,10,1) 97%, rgba(1,1,1,1) 97%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(13,13,13,1) 0%,rgba(149,149,149,1) 14%,rgba(149,149,149,1) 29%,rgba(78,78,78,1) 35%,rgba(78,78,78,1) 35%,rgba(1,1,1,1) 49%,rgba(149,149,149,1) 66%,rgba(149,149,149,1) 74%,rgba(149,149,149,1) 82%,rgba(1,1,1,1) 97%,rgba(10,10,10,1) 97%,rgba(10,10,10,1) 97%,rgba(1,1,1,1) 97%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(13,13,13,1) 0%,rgba(149,149,149,1) 14%,rgba(149,149,149,1) 29%,rgba(78,78,78,1) 35%,rgba(78,78,78,1) 35%,rgba(1,1,1,1) 49%,rgba(149,149,149,1) 66%,rgba(149,149,149,1) 74%,rgba(149,149,149,1) 82%,rgba(1,1,1,1) 97%,rgba(10,10,10,1) 97%,rgba(10,10,10,1) 97%,rgba(1,1,1,1) 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d0d0d', endColorstr='#010101',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

h1 {
font-family:'Tangerine', cursive;
font-size: 75px;
}
h2 {
color: white;
font-family:'Tangerine', cursive;
font-size: 42px;
}
nav {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0b7a1+0,752201+19,8c3310+53,752201+79,bf6e4e+100 */
background: rgb(240,183,161); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(240,183,161,1) 0%, rgba(117,34,1,1) 19%, rgba(140,51,16,1) 53%, rgba(117,34,1,1) 79%, rgba(191,110,78,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(240,183,161,1) 0%,rgba(117,34,1,1) 19%,rgba(140,51,16,1) 53%,rgba(117,34,1,1) 79%,rgba(191,110,78,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(240,183,161,1) 0%,rgba(117,34,1,1) 19%,rgba(140,51,16,1) 53%,rgba(117,34,1,1) 79%,rgba(191,110,78,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=1 ); /* IE6-9 */

margin: 0 0 0 1000px;
padding: 10px 5px 10px 5px;
text-align: center;
}
nav a {
display: inline-block;
width: 150px;
}


