#previewFull {
  background-color: #1E1E1E !important;
  width: 1150px !important;
  color: inherit;
}

#liveUpdateContactInfo {
}

body {
  background-color: #1E1E1E !important;
  color: inherit;
}

#stage, #stage2 {
  border-bottom: 1px dotted #FCEB00 !important;
}

#sitetitle {
  border-bottom: 1px dotted #FCEB00 !important;
}

.borderRight {
  border-right: 1px solid #F6E21A !important;
}

.logo {
  display: none !important;
}

.detailText {
  color: #931FCA !important;
  background-color: inherit;
}

.preview {
  border: none !important;
}

.thumbnail {
  background-color: #1E1E1E !important;
  color: inherit;
}

#wrapper_thumb {
  width: 484px !important;
}

#stage2 {
  width: 1150px !important;
}

.itemNumber {
  color: #F5F5B1 !important;
  display: none !important;
  background-color: inherit;
}

.caption {
  color: #B3B3B3 !important;
  background-color: inherit;
}

.borderTopLeft {
  border-top: 1px solid #F6E21A !important;
  border-left: 1px solid #F6E21A !important;
}

.selectedThumbnail, .thumbnail:hover {
  background-color: #FCEB00 !important;
  color: inherit;
}

.borderRightDotted {
  border-right: 1px dotted #F6E21A !important;
}

.borderBottomRight {
  border-right: 1px solid #F6E21A !important;
  border-bottom: 1px solid #F6E21A !important;
}

#wrapper_large {
  width: 1150px !important;
}

.emptyThumbnail {
  background-color: #1E1E1E !important;
  color: inherit;
}

#previewImage {
  maxSize: 1120.00 !important;
}

.paginationLinks, .pagination, #liveUpdatePagination {
}

.thumb {
  border: 1px solid #7F7F7F !important;
}

#liveUpdateSiteTitle {
}

.borderBottom {
  border-bottom: 1px solid #F6E21A !important;
}

#stage {
  width: 484px !important;
}

.textColor {
  color: #E7E20A !important;
  background-color: inherit;
}
